body {
  background-color: darkgrey;
  border: 1px solid red;
  margin: 0 auto;
  max-width: 900px;
  line-height: 1.4; }

button {
  width: 60px;
  border-radius: 5px;
  background-color: aliceblue;
  border: none;
  display: block;
  margin: 10px auto; }
